<!DOCTYPE html>
<html>

<head>
    <title><%= title %></title>
    <script>
        console.log(123);
        window.data = <%= title %>;
    </script>
    <script src="../static/js/test.js"></script>
</head>

<body>
    <p>EJS Welcome to <%= title %></p>
</body>

</html>