<!DOCTYPE html>
<html>

<head>
    <title><%= title %></title>
    <script>
        window.data = <%= title %>;
    </script>
    <script src="../static/js/test.js"></script>
</head>

<body>
    想不到你居然能找到这里来！ 哈哈哈
</body>

</html>